.weather-app {
  display: flex;
  width: 100%;
  min-width: 1080px;
  height: 100vh;
  min-height: 880px;
  overflow: hidden;
}




.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}

.App .column {
  width: 30%;

}
.container {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}


.dropable-col {
  display: flex;
  flex-direction: column;
  width: 90%;

  background-color: grey;
  padding: 10px;
  border-radius: 7px;
}

.item {
  margin-bottom: 10px;
  background-color: grey;
  color: white;
  border: 1px solid white;
  padding: 5px;
  border-radius: 7px;
}

.item.dragging {
  background-color: red;
}
